* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000000;
    background: rgba(12, 225, 232, 0.91);
}

.Main {
    width: 100%;
    padding: 25px;
    text-align: center;

}

h1 {
    margin-top: 40px;
    margin-bottom: 10px;
}

img {
    width: 70px;
    margin: 30px auto;
}

.btn {
    border: 0;
    border-radius: 5px;
    margin-top: 50px;
    height: 60px;
    width: 200px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    color: #000000;
    background: #aaaaaa;
}